/* GLOBAL STYLES
    -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.container>.row {
    margin-top: 40px;
}
li > .container-fluid {
    border: solid 1px #5a5a5a;
    border-radius: 10px;
}
.filter {
    height: 100%;
}