<div class="col-xs-3">
    <div class="row">
        <div class="filter">
            <span>Категория:</span>
            <ul class="list-group-item">
                {% for category in option.category %}
                    <li class="list-unstyled">
                        <a id="filter-category-{{ category.id }}" href="{{ path("parfums_products_products_from_elastic", {params:category.link.generateParams}) }}">
                        <input type="checkbox" for="filter-category-{{ category.id }}" {% if (category.link.filterActive) %} checked {% endif %}/>
                        {{ category.name }}
                        {{ category.link.facet }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <span>Бренд:</span>
            <ul class="list-group-item">
                {% for brand in option.brand %}
                    <li class="list-unstyled">
                        <a id="filter-brand-{{ brand.id }}" href="{{ path("parfums_products_products_from_elastic", {params:brand.link.generateParams}) }}">
                            <input type="checkbox" for="filter-brand-{{ brand.id }}" {% if (brand.link.filterActive) %} checked {% endif %}/>
                            {{ brand.name }}
                            {{ brand.link.facet }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <span>Параметры:</span>
            <ul class="list-group-item">
                {% for params in option.params %}
                    <li class="list-unstyled">
                        {{ params.name }}:
                        <ul class="list-group-item">
                            {% for value in params.values %}
                                <li class="list-unstyled">
                                    <a id="filter-params-{{ value.id }}" href="{{ path("parfums_products_products_from_elastic", {params:value.link.generateParams}) }}">
                                        <input type="checkbox" for="filter-params-{{ value.id }}" {% if (value.link.filterActive) %} checked {% endif %}/>
                                        {{ value.value }}
                                        {{ value.link.facet }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-9">
    <form action="{{ path('parfums_products_products_from_elastic') }}" method="HEAD">
        <input style="width: 100%" type="search" name="q" value="{{ query }}"/>
        <input style="position: absolute;right: 15px;" type="submit" value="Поиск"/>
    </form>
    <div class="row">
        <div class="sort">
            Сортировать по:
            <a href="{{ path("parfums_products_products_from_elastic",{params:"sort/name/"~sortRequest}) }}">Названию </a>
            /
            <a href="{{ path("parfums_products_products_from_elastic",{params:"sort/price/"~sortRequest}) }}">
                Цене</a>
        </div>
    </div>
    <ul class="list-group-item">
        {% for product in products %}
            <li class="list-unstyled">
                <div class="container-fluid">
                    Наименование:
                    <a href="{{ path('parfums_products_view',{id:product.id}) }}">{{ product.name }}</a><br/>
                    Описание: {{ product.description }}<br/>
                    Цена: {{ product.price }}<br/>
                </div>
            </li></br>
        {% endfor %}
    </ul>
</div>