<div class="col-xs-3">
    <div class="row">
        <div class="filter">
            <span>Категория:</span>
            <ul class="list-group-item">
                {% for category in productsAndFilter.filter.filterArray.category %}
                    <li class="list-unstyled">
                        {{ category.link | raw }}
                    </li>
                {% endfor %}
            </ul>
            <span>Бренд:</span>
            <ul class="list-group-item">
                {% for brand in productsAndFilter.filter.filterArray.brand %}
                    <li class="list-unstyled">
                        {{ brand.link | raw }}
                    </li>
                {% endfor %}
            </ul>
            <span>Параметры:</span>
            <ul class="list-group-item">
                {% for params in productsAndFilter.filter.filterArray.params %}
                    <li class="list-unstyled">
                        {{ params.name }}:
                        <ul class="list-group-item">
                            {% for value in params.values %}
                                <li class="list-unstyled">
                                    {{ value.link | raw }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-9">
    <div class="row">
        <div class="sort">
            Сортировать по:
            <a href="{{ path("parfums_products_products",{params:"sort/name/"~productsAndFilter.filter.sortRequest}) }}">Названию </a>
            /
            <a href="{{ path("parfums_products_products",{params:"sort/price/"~productsAndFilter.filter.sortRequest}) }}">
                Цене</a>
        </div>
    </div>
    <ul class="list-group-item">
        {% for product in productsAndFilter.products %}
                    <li class="list-unstyled">
                        <div class="container-fluid">
                            Наименование:
                            <a href="{{ path('parfums_products_view',{id:product.id}) }}">{{ product.name }}</a><br/>
                            Бренд: {{ product.brandName }}<br/>
                            Категория: {{ product.categoryName }}<br/>
                            Описание: {{ product.description }}<br/>
                            Цена: {{ product.price }}<br/>
                        </div>
                    </li></br>
                {% endfor %}
    </ul>
</div>