{% extends 'base.html.twig' %}
{% block body %}
    <div id="main" class="products clearfix">
        {% include 'ParfumsProductsBundle:Default:_elastic-products.html.twig' with {'option': option, 'products': products, 'sortRequest': sortRequest} %}
    </div>
{% endblock %}