{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-xs-2">
            <div>
                <a href="{{ path('parfums_products_products') }}">Products</a>
            </div>
            <div>
                <a href="{{ path('parfums_products_products_from_elastic') }}">Products from Elastic</a>
            </div>
        </div>
    </div>
{% endblock %}