{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-xs-2">
            <div>
                <a href="{{ path('parfums_products_products') }}">Products</a>
            </div>
        </div>
        <div class="col-xs-10">
            <ul>
                <li class="list-unstyled">
                    <div class="container-fluid">
                        Наименование: {{ product.name }}<br/>
                        Бранд: {{ product.Brand.name }}<br/>
                        Категория: {{ product.Category.name }}<br/>
                        Описание: {{ product.description }}<br/>
                        Цена: {{ product.price }}<br/><br/>
                        Параметры:<br/>
                        {% for property in product.propertyValue %}
                            - {{ property.properties.name }}: {{ property.value }}<br/>
                        {% endfor %}
                    </div>
                </li>
                <hr/>
            </ul>
        </div>
    </div>
{% endblock %}